<template id="movie-card">
    <section class="card">
        <figure id="model" role="img">
            <slot name="movie-img"></slot>
        </figure>
        <section class="card__desc">
            <h3 class="card__title">
                <slot name="movie-title"></slot>
                <slot name="movie-popularity"></slot>
            </h3>
            <slot name="movie-genres"></slot>
            <h4 class="card__rating">             
                    <slot name="movie-rating"></slot>
                    <a id="moreinfo" role="link">
                        <slot name="more-info"></slot>
                    </a>
                </h4>
        </section>
    </section>

    <style>
        .card {
            width: 18em;
            min-width: 18em;
            border: 1px solid var(--box-shadow);
            margin: .5em;
            /* margin-bottom: 1em; */
            border-radius: 7px;
            min-height: 17.5em;
        }

        .card:hover {
            box-shadow: 0 0 10px 7px var(--box-shadow);
        }

        .card figure {
            padding: 0;
            margin: 0;
        }

        .card__desc {
            padding: 0.5em 1em;
            height: 100%;
        }

        .card__title {
            margin-top: 0;
            margin-block-end: 0em;
            font-size: 1.2em;
        }

        .card__title span {
            font-size: 0.9em;
        }

        .card__rating {
            margin-bottom: 0;    
            margin-block-start: 0em;
        }
    </style>
</template>