.banner {
    position: relative;
}
.banner__img {
    width: 100%;
    min-height: 18em;
    max-height: 30em;
    object-fit: cover;
    object-position: top;
    /* 
    height: calc(100vh - 11em);
    object-position: center;
    */
}
.banner__badge {
    position: absolute;
    bottom: 1em;
    right: 1em;
    background: var(--content-bg);;
    padding: 0.7em 1.5em;
    border-radius: 2em;
}

.banner__icon {
    margin-left:0.2em;
}

.content{
    display: flex;
    justify-content: space-between;
    width:100%;
}

.content__width {
    width:50%;
    padding: 0.5em;
}

.content__desc {
    font-size: 1em;
    line-height: 1.3em;
    max-height: 9em;
    padding-right: 1em;
    overflow: auto;
    text-align: justify;
}

.content__bg{
    background: var(--content-bg);
    border-radius: 5px;
    padding: 1em;
}
.cast a, .castt a{
    text-decoration: none;
    color: var(--z-black);
}

.cast a:hover, .castt a:hover{
    text-decoration: underline;
    color: var(--sky-blue);
}

.cast {
    max-height: 7em;
    margin: auto;
    padding-right: .5em;
    text-align: justify;
    overflow: auto;
}

p.castt {
    max-width: 94%;
    max-height: 4.5em;
    padding-right: .5em;
    text-align: justify;
    overflow: auto;
}

tr{
    border-bottom: 1px solid var(--light-gray);
}

th, td {
    padding: 10px;
    text-align: left;
}

table {
    border-collapse: collapse;
}

tr:last-child{
    border-bottom: 0px solid #ddd;
}