@import './global.css';

/* main css style */
.container-fluid{
	width:100%;
}
.container{
	width:95%;
	/* min-width: 39em; */
	margin:1em auto;
}
.border{
	border:1px solid var(--z-black);
}
#headerTemp{
    margin-bottom: -5px;
}
.card-heading{
	margin: 1em;
}
.movies_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2em;
}
.card {
	width: 17em;
	min-width: 17em;
	border: 1px solid var(--content-bg);
	margin-bottom: 1em;
}
.card:hover {
	box-shadow: 0 0 10px 7px #9c9b9b;
}
.card figure {
	padding: 0;
	margin: 0;
}
.card-image {
	cursor: pointer;
	width: 100%;
	height: 170px;
	border-radius: 6px 6px 0px 0px;
}
.card__desc {
	padding: 1em;
}
.card__title {
	margin-top: 0;
}
.card__title span {
	font-size: 0.9em;
}
.cart__item {
	margin-block-start: .5em;
    margin-block-end: .5em;
}
.card__rating {
	margin-bottom: 0;
	margin-block-start: .5em;
    margin-block-end: .5em;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.text-danger {
	color: var(--text-red);
}
.text-info {
	color: var(--sky-blue);
	font-weight: 600;
	cursor: pointer;
}
.text-info:hover {
    font-size: 1.04em;
    text-decoration: underline;
}
model-popup{
    position: fixed;
    z-index: 1;
    padding-top: 15vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
}