/* actor style start */
.actor {
    display: flex;
    justify-content: space-between;
}
.actor__image {
    width: 95%;
    height: 20em;
    object-fit: cover;
    border-radius: 0.5em;
}
.actor__content {
    width: 100%;
    background: #f1f1f1;
    padding: 1em;
    border-radius: 0.5em;
}
.actor__heading {
    margin-bottom: .5em;
    margin: 0;
}
.actor__content__popularity {
    display: inline-flex;
}
.actor__content__popularity h2 {
    display: inline;
}
.actor__content__popularity h3 {
    margin: 0;
    font-weight: 400;
    margin-left: 0.3em;
    text-align: center;
}
.fa-3x{padding: 0em .20em;}
.actor__dob{
    margin-bottom: 1.5em;
}
.actor__biography{
    max-height: 12.5em;
    padding-right: 0.5em;
    margin-bottom: 0px;   
    text-align: justify;
    overflow: auto;
    overflow-x: hidden;
}
/* actor style end */

/* filmography style start */
.filmography__film {
    margin-top: 1em;
}
.filmography__film--heading{
    background: var(--content-bg);
    margin: 0;
    padding: 0.5em;
}
.filmography__film__list {
    display: flex;
    flex-wrap: wrap;
}
.filmography__film--year{
    padding: .5em 1em;
}
.filmography__film--year p {
    margin: .5em 0em;
}
/* filmography style end */