.containr {
    width: 92%;
    margin: 1em auto;
}

/* search input style */
.search{    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.search-movies--list{    
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-bottom: 2em;
}
.search-results{
    margin: .5em;
    display: flex;
}
.search-results--size{
    font-size:x-large;
}
.search-input{
    width: 25em;
    padding: 0.5em 1em;
    border: 1px solid var(--light-gray);
    height: 2.5em;
    border-radius: 0.5em 0em 0em .5em;
}
.clear-search{
    background: var(--sky-blue);
    border: 0;
    color: var(--content-bg);
    padding: 0.5em;
    margin: 0em 1em;
    height: 2.5em;
    border-radius: .5em;
    width: 8em;
}
.clear-search:hover {
    background-color: white;
    color: var(--sky-blue);
    border: 2px solid skyblue;
    font-weight: 600;
    box-shadow: 0px 0px 5px 1px skyblue;
}
.search-input:hover {
    box-shadow: 0px 0px 5px 1px skyblue;
    border: 0px;
}
.search-button{
    background: var(--sky-blue);
    border: 0;
    color: var(--content-bg);
    padding: 0.5em 1.5em;
    height: 2.5em;
    border-radius: 0em .5em .5em 0em;
}
.total-result{
    color: var(--sky-blue);
}


/* range slider style */
.rating{
    display: flex; 
    padding: 0em 3em 2em 0em;
}
.rating__name{
    font-weight: 600;
    font-size: 1.5em;
    padding: 0.5em 1em;
}
.rating__slider{
    padding: 0em;
}
.rating__slider .slider-range{
    color: var(--content-bg);
    background-color: var(--sky-blue);
    padding: 3px 8px;
    border-radius: 50%;
}
.rating__slider__list{
    display: initial;
    margin: 0px 10px;
}
.rating__slider object {
    margin-right: 31px;
}
.rating__slider__range{
    display: flex;
}
.slider__range {
    -webkit-appearance: none;
    width: 50%;
    /* min-width: 20em; */
    min-width: 18em;
    height: 15px;
    border-radius: 5px;
    background: var(--light-gray);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider__range:hover {
    opacity: 1;
}
.slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--sky-blue);
    cursor: pointer;
    content: '1';
    color: white;
}

.slider__range::-webkit-slider-thumb::after {
    content: '1';
    color: white;

}
.slider__range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--sky-blue);
    cursor: pointer;
}